@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root {
  /* Primary */
  --soft-red: hsla(7, 99%, 70%, 0.452);
  --yellow: hsl(51, 100%, 49%, 0.452);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-moderate-cyan: hsl(138, 34%, 41%);

  /* Neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  font-family: 'Barlow', 'Fraunces';
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.links {
  color: white;
}

a {
  color: var(--white);
  text-decoration: none;
  margin: 20px;
}

.first-section {
  background: url('./images/desktop/image-header.jpg') no-repeat center fixed;
  background-size: cover;
  /* width: 100vw; */
  height: 100vh;
}

.hero-text {
  color: var(--white);
  font-family: 'Fraunces', sans-serif;
  font-size: 46px;
  font-weight: bolder;
  margin-top: 5%;
  text-align: center;
}

.hero-arrow-down {
  margin-top: 60px;
  margin-left: 50%;
  margin-right: auto;
}

.second-section {
  display: flex;
  flex-wrap: wrap;
}

.second-section-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.second-section-text-box h2 {
  color: var(--very-dark-desaturated-blue);
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-size: 36px;
  padding: 20px 100px;
  width: 60%;
}

.second-section-text-box p {
  color: var(--very-dark-grayish-blue);
  font-family: 'Barlow', sans-serif;
  font-weight: lighter;
  padding: 0px 100px;
  width: 65%;
  white-space: normal;
}

.second-section-text-box a {
  color: var(--very-dark-desaturated-blue);
  font-family: 'Fraunces', serif;
  width: 114px;
  padding: 10px 80px;
}

.second-section-first-link {
  text-decoration: underline 5px var(--yellow);
}

.second-section-second-link {
  text-decoration: underline 5px var(--soft-red);
}

.second-section-text-box a {
  text-underline-offset: -0.21em;
}

.second-section img {
  width: 50%;
}

.third-section {
  display: flex;
  height: 80vh;
}

.graphic-design-container {
  background-image: url('./images/desktop/image-graphic-design.jpg');
}

.photography-container {
  background-image: url('./images//desktop/image-photography.jpg');
}

.graphic-design-container, .photography-container {
  background-size: cover;
  background-position: center;
  width: 50%;
}

.graphic-design-text-box, .photography-text-box {
  margin-left: 20%;
  margin-top: 50%;
  width: 60%;
}

.third-section h2, .third-section p {
  text-align: center;
  padding: 10px;
}

.graphic-design-container h2 {
  color: var(--dark-desaturated-cyan);
  font-family: 'Fraunces', serif;
  font-weight: bolder;
}

.graphic-design-container p {
  color: var(--dark-moderate-cyan);
  font-family: 'Barlow', sans-serif;
}

.photography-container h2 {
  color: var(--very-dark-desaturated-blue);
  font-family: 'Fraunces', serif;
  font-weight: bolder;
}

.photography-container p {
  color: var(--very-dark-grayish-blue);
  font-family: 'Barlow', sans-serif;
}

.fourth-section {
  height: 100vh;
}

.fourth-section h2 {
  color: var(--grayish-blue);
  font-family: 'Fraunces', serif;
  font-weight: bolder;
  text-align: center;
  padding: 100px;
}

.testimonials-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-container img {
  border-radius: 50%;
  padding: 20px;
  width: 50px;
}

.testimonial-container p {
  color: var(--very-dark-grayish-blue);
  text-align: center;
  padding: 40px;
}

.testimonial-container h3 {
  text-align: center;
  color: var(--very-dark-desaturated-blue);
  font-family: 'Fraunces', serif;
  font-weight: bolder;
  padding: 10px;
}

.testimonial-container h5 {
  color: var(--grayish-blue);
  font-family: 'Barlow', sans-serif;
  font-weight: lighter;
  text-align: center;
}

.fifth-section {
  display: flex;
}

.fifth-section img {
  width: 25%;
}
