@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root {
  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-moderate-cyan: hsl(138, 34%, 41%);

  /* Neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  font-family: 'Barlow', 'Fraunces';
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.links {
  color: white;
}

a {
  color: var(--white);
  text-decoration: none;
  margin: 20px;
}

.first-section {
  background: url('./images/desktop/image-header.jpg') no-repeat center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.hero-text {
  color: var(--white);
  font-family: 'Fraunces', sans-serif;
  font-size: 46px;
  font-weight: bolder;
  margin-top: 5%;
  text-align: center;
}

.hero-arrow-down {
  margin-top: 60px;
  margin-left: 50%;
  margin-right: auto;
}
